@import url("./reset.css");

main {
  display: flex;
  gap: 1rem;
}

.grid {
  display: grid;
  grid-template: repeat(10, 50px) / repeat(10, 50px);
}

.grid__cell {
  margin-top: 1px;
  margin-left: 1px;
  outline: 1px solid black;
}

.grid__cell--ship {
  background-color: blue;
}

.grid__cell--hit {
  background-color: red;
}
